$purple-color: #6c43bf;

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 1rem;
}
